.login-register-wrapper .login-register-tab-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
}
.login-register-wrapper .login-register-tab-list h4 {
    font-size: 25px;
    font-weight: 500;
    margin: 0 20px;
    text-transform: capitalize;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    color: #000;
}
.tab-content .tab-pane {
    display: block;
    overflow: visible;
    height: auto;
    visibility: visible;
    max-width: 100%;
    opacity: 1;
}
.login-register-wrapper .login-form-container {
    background: transparent none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    padding: 80px;
    text-align: left;
}
.login-register-wrapper .login-form-container .login-register-form input {
    background-color: transparent;
    border: 1px solid #ebebeb;
    color: #3a3a3a;
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 100%;
    outline: 0;
}
.login-register-wrapper .login-form-container .login-register-form .button-box .login-toggle-btn {
    padding: 10px 0 19px;
}
.login-register-wrapper .login-form-container .login-register-form .button-box .login-toggle-btn input[type=checkbox] {
    height: 15px;
    margin: 0;
    position: relative;
    top: 1px;
    width: 17px;
}
.login-register-wrapper .login-form-container .login-register-form .button-box .login-toggle-btn a {
    color: #000;
    float: right;
    font-size: 15px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.login-register-wrapper .login-form-container .login-register-form .button-box .login-toggle-btn a:hover {
    color: #266bf9;
}
.login-register-wrapper .login-form-container .login-register-form .button-box .login-toggle-btn a.floe-none {
    float: none!important;
}
.login-register-wrapper .login-form-container .login-register-form .button-box button {
    background-color: #f2f2f2;
    border: medium none;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 11px 30px;
    text-transform: uppercase;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    outline: 0;
    border-radius: 0;
}
.login-register-wrapper .login-form-container .login-register-form .button-box button:hover {
    background-color: #266bf9;
    color: #fff;
}